<h2 class='note-title'>
  <%= @note.title %>
</h2>

<div class='note-body'>
  <%= @note.body %>
</div>

<%= link "Back", to: note_path(@conn, :index) %>
<script>require("web/static/js/app").Note.run()</script>
